
$hover-shadow:  rgba(0, 0, 0, 0.3);
$active-color: rgba(141, 230, 225, 0.76);
$gray-color: #d9dfe68e;
$dark-gray-color: #bbc2ca60;
$app-box-color: #c7d0da7e;

// grid 
$grid-width: 114rem; // 1140px, 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 3rem;

// popup
$hover-input-color: rgba(88, 159, 207, 0.835);
$solid-color: rgba(15, 15, 15, 0.2);
$result-text-color: #424444;
$base-color: #666b6b;

// nav btns
$background-color:  rgba(197, 243, 241, 0.6);
$active-color: rgba(141, 230, 225, 0.76);
$color-light: rgba(159, 243, 239, 0.664);
$shadow-color: rgba(0, 0, 0, 0.3);
$dark-grey: #777;