
$hover-shadow:  rgba(0, 0, 0, 0.3);
$active-color: rgba(141, 230, 225, 0.76);
$gray-color: #d9dfe68e;
$dark-gray-color: #bbc2ca60;
$app-box-color: #c7d0da7e;

// grid 
$grid-width: 114rem; // 1140px, 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 3rem;
