/*
0-600px:        Phone
600-900px:      Tablet Portrait
900-1200px:     Tablet landscape
1200-1800px:    Normal Desktops
1800px + :      Big Desktops 
*/
/*
breakpoint: phone, tab-port, tab-land, big-desktop
*/
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 100%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 108%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  line-height: 1.7;
  box-sizing: border-box; }

.link {
  color: black; }
  .link:hover {
    color: black;
    text-decoration: none; }

.app-name {
  font-family: 'Gochi Hand', cursive;
  font-size: 5rem;
  margin-left: 2rem; }

.center-text {
  text-align: center; }

.navbar {
  background-color: #bbc2ca60 !important; }

.nav-item {
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.2s; }
  .nav-item:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.3); }
  .nav-item:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    background-color: rgba(141, 230, 225, 0.76); }

.search-bar {
  display: block;
  width: 80%;
  margin: 2.5rem auto;
  margin-bottom: 5rem; }

.row__ads {
  text-align: center; }

[class^="ads__box"] {
  text-align: center;
  margin-bottom: 2rem; }
  [class^="ads__box"] img {
    width: 90%;
    border-radius: 1rem; }

.row__top-apps-list {
  list-style: none;
  padding: 1rem; }
  .row__top-apps-list .row__app-list {
    margin-left: 1rem; }
    .row__top-apps-list .row__app-list--content {
      transition: all .2s; }
      .row__top-apps-list .row__app-list--content:hover {
        font-weight: bolder; }

.app-list {
  text-align: center;
  padding: 1rem; }
  .app-list__ol {
    margin-left: 2rem; }
    .app-list__ol li {
      display: inline;
      margin: 2rem; }

.popular-apps-box {
  padding: 1rem;
  border: 1px solid;
  background-color: #c7d0da7e;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  transition: all 0.2s; }
  .popular-apps-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.3); }

.feedback__title {
  text-align: center;
  margin-bottom: 2rem; }

.feedback__form {
  width: 65%;
  margin: auto; }

.about__title {
  text-align: center;
  margin-bottom: 2rem; }

.about__description {
  font-size: larger;
  font-family: cursive; }

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem; }

.rmv-border {
  border: none !important; }

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1); }

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem; }

.card-signin .card-body {
  padding: 2rem; }

.form-signin {
  width: 100%; }

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s; }

.form-label-group {
  position: relative;
  margin-bottom: 1rem; }

.form-label-group input {
  height: auto;
  border-radius: 2rem;
  margin-bottom: 2rem; }

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x); }

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out; }

.form-label-group input::-webkit-input-placeholder {
  color: transparent; }

.form-label-group input:-ms-input-placeholder {
  color: transparent; }

.form-label-group input::-ms-input-placeholder {
  color: transparent; }

.form-label-group input::-moz-placeholder {
  color: transparent; }

.form-label-group input::placeholder {
  color: transparent; }

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3); }

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777; }

.btn-google {
  color: white;
  background-color: #ea4335; }

.btn-facebook {
  color: white;
  background-color: #3b5998; }

/* Fallback for Edge
  -------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none; }
  .form-label-group input::-ms-input-placeholder {
    color: #777; } }

/* Fallback for IE
  -------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none; }
  .form-label-group input:-ms-input-placeholder {
    color: #777; } }

.viewfeedback__title {
  text-align: center;
  margin-bottom: 2rem; }

.viewfeedback .col-md-12 {
  margin-bottom: 2rem; }

.addData__title {
  margin-bottom: 2rem; }

.addData__label {
  margin: 2rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left;
    border: solid 1px black;
    border-radius: 1rem; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
  .row .col-1-of-4 {
    width: calc((100% - (3rem*3)) / 4);
    background-color: #d9dfe68e; }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - (3rem*3)) / 4) + 3rem);
    border: none; }
  .row .col-3-of-4 {
    width: calc(((100% - (3rem*3)) / 4) * 3);
    border: none; }

/*
// Grid 

.col-1-of-2 {
        width: calc((100% - 3rem) / 2);
    }

    .col-1-of-3 {
        width: calc((100% - (3rem*2)) / 3);
    }

    .col-2-of-3 {
        width: calc(2 * ((100% - (3rem*2)) / 3) + 3rem);
    }

    .col-1-of-4 {
        width: calc((100% - (3rem*3)) / 4);
    }

    .col-2-of-4 {
        width: calc( 2 * ((100% - (3rem*3)) / 4) + 3rem);
    }
}
*/
main {
  padding: 2rem; }
